.jumbotron {

}

p {
  margin-left: 180px;

}

button{
  margin-left: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
  justify-content: center;
  color: black;
}

h1 {
  font-size: 45px;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-color: peachpuff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: peachpuff;
}